spring:
  application:
    name: coupon-system

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibername:
        format_sql: true
